# IntelliJ / JetBrains IDE settings
.idea/
*.iml

# OS-specific system files
.DS_Store        # macOS Finder metadata
Thumbs.db        # Windows Explorer metadata

# Temporary / backup files
*.swp            # Vim swap files
*.swo
*~
*.bak
*.tmp

# Logs
*.log

# Exported / generated docs
*.pdf
*.docx
*.odt
*.html
*.csv
*.mp4
*.zip
*.tar.gz
*.rar

# Java-related compiled files
*.class
*.jar
*.war
*.nar
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

# Ignore Windows system files
desktop.ini