body {
    font-family: "Times New Roman", "TimesNewRomanPSMT", Times, serif;
    font-size: 12pt;
    text-align: left;
    line-height: 1.5;
    margin: 0;
}

p {
    /* text-indent: 1.27cm; */
    margin: 6pt 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: left;
    margin: 12pt 0 6pt;
    text-indent: 0;
}

/* ul, ol {
    margin: 6pt 0 6pt 2.2cm;
    padding-left: 0.9cm;
    list-style-position: outside;
}

li {
    margin: 4pt 0; 
}

li p {
    text-indent: 0;
    margin: 0;
} */

table {
    border-collapse: collapse;
    width: 100%;
    margin: 12pt 0;
    table-layout: fixed;
    font-size: 90%;
    line-height: 1.2;
}

th, td {
    font-size: inherit;
    overflow-wrap: anywhere;
    padding: 3pt 4pt;
    word-break: break-word;
    white-space: normal;
    hyphens: auto;
    -webkit-hyphens: auto;
}

td img, th img {
  max-width: 100%;
  height: auto;
}


hr.page-break {
    page-break-before: always;
    border: 0;
}

:not(pre) > code,
pre code {
    color: #7CB342 !important;
}

.ref {
    text-indent: -1.27cm;
    margin-left: 1.27cm;
    margin-bottom: 6pt;
}

@media print {
    a, a:visited { color: #1155cc !important; }
    * { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}